<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="width=device-width, initial-scale=1.0"  content="Sajan Bhagat | Sajan Kumar Bhagat | Manager AI Labs at Subex | Professional Data Scientist and Computer Vision Enthusiast | Landmark Hackathon Winner | SoftBank Forex Algorithm Challenge - 3rd Prize">
	<title>Sajan Kumar Bhagat</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto%20Slab:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="static/assets/css/profile.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div id="complete-page">
        <section id="common-frame">
            <div id="avatar">
                <img id="avatar-image" src="static/assets/images/profile/Avatar2.jpg">
            </div>
            <div id="basic-info">
                <label class="name">Sajan Kumar Bhagat</label>
                <label class="job"> 
                    <span>Manager Artificial Intelligence Labs</span>
                    <span>Subex Limited</span> 
                </label>
            </div>
            <div id="page-links">
                <div class="about_me"><a href="#about_me">About Me</a></div>
                <div class="blogs"><a href="#blogs">Blogs</a></div>
                <div class="contact"><a href="#contact">Contact</a></div>
                <div class="experience"><a href="#experience">Experience</a></div>
                <div class="project"><a href="#projects">Projects</a></div>
                <div class="skills"><a href="#skills">Skills</a></div>
            </div>
            <div id="social-links">
                <ul>
                    <a href="https://www.linkedin.com/in/sajanbhagat" target="_blank"><li class="fa fa-linkedin grow"></li></a>
                    <a href="https://github.com/sajanbhagat" target="_blank"><li class="fa fa-github grow"></li></a>
                    <a href="https://www.facebook.com/bhagat.sajan" target="_blank"><li class="fa fa-facebook grow"></li></a>
                    <a href="https://twitter.com/bhagatsajan0073" target="_blank"><li class="fa fa-twitter grow"></li></a>
                </ul>
            </div>
        </section>
        <section id="dynamic-frame">
            <section id="about_me" class="active">
                <div class="header-image">
                    <img src="/static/assets/images/profile/Basic Image.png"/>
                </div>
                <div class="content">
                    <h4>OBJECTIVE</h4>
                    <p>
                        Manager Data Science with 7+ years of experience executing data-driven solutions to increase efficiency, accuracy, and 
                        utility of internal data processing. Experienced at creating and productionizing machine learning models, using 
                        predictive data modelling, and analyzing data mining algorithms to deliver insights and implement action-oriented 
                        solutions to complex business problems. Leading team of data-scientists and engineers in Subex to create no code <a href="https://hypersense.subex.com/ai-studio/" target="_blank">Hypersense AI Studio.</a>
                    </p>
                    <p>
                        I have strong technical background with diverse hands-on experience in machine learning and full stack development. As, a passionate computer engineers
                        i'm always learning new things and applying them to solve real world problems. I'm always looking for an opportunities to upgrade myself, 
                        as well as being involved in with an organization that believes in gaining a competitive edge and giving back to the community. 
                        I’m a forward thinker, which others may find inspiring when working as a team.
                    </p>
                    <h4>WHAT I DO ?</h4>
                    <p> I have been working as a data scientist since 2014. I have love for problem solving using Machine Learning and AI solutions. I work with stakeholders 
                        throughout the organization to identify opportunities for leveraging company data to drive business solutions.</p>
                    <ul class="list-check">
                        <li>Computer Vision</li>
                        <li>Machine Learning</li>
                        <li>Predictive Modelling</li>
                        <li>A/B Testing</li>
                        <li>System Design</li>
                        <li>Model Evaluation Framework</li>
                    </ul>
                </div>
            </section>
            <section id="contact" class="hidden">
                Contact me template comes here
            </section>
            <section id="experience" class="hidden">
                Experience template comes here
            </section>
            <section id="projects" class="hidden">
                Projects template comes here
            </section>
            <section id="skills" class="hidden">
                Skills template comes here
            </section>
            <section id="blogs" class="hidden">
                Blogs template comes here
            </section>
        </section>        
    </div>
</body>
<script>
    /*
        Avatar images change code base
    */
    const cats = [
        'static/assets/images/profile/Avatar1.jpg',
        'static/assets/images/profile/Avatar2.jpg'
    ]

    const node = document.getElementById("avatar-image");

    const cycleImages = (images, container, step) => {
        images.forEach((image, index) => (
        setTimeout(() => {
            container.src = image 
        }, step * (index + 1))
    ))
    setTimeout(() => cycleImages(images, container, step), step * images.length)
    }

    cycleImages(cats, node, 5000)
</script>
</html>