<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="width=device-width, initial-scale=1.0"  content="Sajan Bhagat | Sajan Kumar Bhagat | Manager AI Labs at Subex | Professional Data Scientist and Computer Vision Enthusiast | Landmark Hackathon Winner | SoftBank Forex Algorithm Challenge - 3rd Prize">
	<title>Sajan Kumar Bhagat</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto%20Slab:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="static/assets/css/profile.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="static/assets/images/profile/icons/coding-64-2.png">
</head>
<body>
    <div id="complete-page">
        <section id="common-frame">
            <div id="avatar">
                <img id="avatar-image" src="static/assets/images/profile/Avatar2.jpg">
            </div>
            <div id="basic-info">
                <label class="name">Sajan Kumar Bhagat</label>
                <label class="job"> 
                    <span>Manager Artificial Intelligence Labs</span>
                    <span>Subex Limited</span> 
                </label>
            </div>
            <div id="page-links">
                <div class="about_me"><a href="#about_me">About Me</a></div>
                <div class="blogs"><a href="#blogs">Blogs</a></div>
                <div class="contact"><a href="#contact">Contact</a></div>
                <div class="experience"><a href="#experience">Experience</a></div>
                <div class="project"><a href="#projects">Projects</a></div>
                <div class="skills"><a href="#skills">Skills</a></div>
            </div>
            <div id="social-links">
                <ul>
                    <a href="https://www.linkedin.com/in/sajanbhagat" target="_blank"><li class="fa fa-linkedin grow"></li></a>
                    <a href="https://github.com/sajanbhagat" target="_blank"><li class="fa fa-github grow"></li></a>
                    <a href="https://www.facebook.com/bhagat.sajan" target="_blank"><li class="fa fa-facebook grow"></li></a>
                    <a href="https://twitter.com/bhagatsajan0073" target="_blank"><li class="fa fa-twitter grow"></li></a>
                </ul>
            </div>
        </section>
        <section id="dynamic-frame">
            <section id="about_me" class="active">
                <div class="header-image">
                    <img src="/static/assets/images/profile/Basic Image.png"/>
                </div>
                <div class="content">
                    <h4>OBJECTIVE</h4>
                    <p>
                        Manager Data Science with 7+ years of experience executing data-driven solutions to increase efficiency, accuracy, and 
                        utility of internal data processing. Experienced at creating and productionizing machine learning models, using 
                        predictive data modelling, and analyzing data mining algorithms to deliver insights and implement action-oriented 
                        solutions to complex business problems. Leading team of data-scientists and engineers in Subex to create no code <a href="https://hypersense.subex.com/ai-studio/" target="_blank">Hypersense AI Studio.</a>
                    </p>
                    <p>
                        I have strong technical background with diverse hands-on experience in machine learning and full stack development. As, a passionate computer engineers
                        i'm always learning new things and applying them to solve real world problems. I'm always looking for an opportunities to upgrade myself, 
                        as well as being involved in with an organization that believes in gaining a competitive edge and giving back to the community. 
                        I’m a forward thinker, which others may find inspiring when working as a team.
                    </p>
                    <h4>WHAT I DO ?</h4>
                    <p> I have been working as a data scientist since 2014. I have love for problem solving using Machine Learning and AI solutions. I work with stakeholders 
                        throughout the organization to identify opportunities for leveraging company data to drive business solutions.</p>
                    <ul class="list-check">
                        <li>Computer Vision</li>
                        <li>Machine Learning</li>
                        <li>Predictive Modelling</li>
                        <li>A/B Testing</li>
                        <li>System Design</li>
                        <li>Model Evaluation Framework</li>
                    </ul>
                </div>
            </section>
            <section id="contact" class="hidden">
                Contact me template comes here
            </section>
            <section id="experience" class="hidden">
                <div class="header-image">
                    <img src="/static/assets/images/profile/amico.png"/>
                </div>
                <div class="experience-groups">
                    <div class="company">
                        <div class="header">
                            <div class="left">Subex Limited</div>
                            <div class="right">October 2019 - Presently Working Here</div>
                        </div>
                        <div class="achievements">
                            <ul>
                                <li>Leading team of data-scientists and engineers to create Hypersense AI
                                    Studio </li>
                                <li>Building an OCR Solution for digital automation of lease contract 
                                    management system for Optus to replace legacy system</li>
                                <li>Improved efficiency of existing fraud management system by 8.2% by 
                                    building Telecom Scam Detection Model to identify scammers in real-time</li>
                                <li>Reduced the handset fraud by 6.43% by building handset fraud model for 
                                    telecom customer</li>
                                <li>Collaborated with Subex HR Management to develop an employee attrition 
                                    model to improve employee retention in Subex</li>
                                <li>Leading data science community of practice in Subex</li>
                                <li>Collaborating with IDCentral team to create data science differentiation by 
                                    creating models like Income Verification, Address Validation & Customer 
                                    Credit Score etc</li>
                            </ul>
                        </div>
                    </div>
                    <div class="company">
                        <div class="header">
                            <div class="left">VMware India</div>
                            <div class="right">May 2019 - October 2019</div>
                        </div>
                        <div class="achievements">
                            <ul>
                                <li> Increased the customer base for vSphere Platinum by 5X using propensity to 
                                    up-sell model </li>
                                <li>30% customer upgraded to higher vSphere version as a result of propensity 
                                    to upgrade vSphere model</li>
                                <li>Designed and built low touch and no touch system for Deal management and 
                                    deal approval</li>
                                <li>NLP and robotic process automation based cognitive bot to automate ticket 
                                    resolution, honoured with "Best Digital Transformation Project" in Global 
                                    OpEx2020</li>
                            </ul>
                        </div>
                    </div>
                    <div class="company">
                        <div class="header">
                            <div class="left">Decision Minds</div>
                            <div class="right">October 2016 - April 2019</div>
                        </div>
                        <div class="achievements">
                            <ul>
                                <li> Successfully upgraded 15% customers out of 38K ranked customers from 
                                    propensity to upgrade model for vSphere
                                    </li>
                                <li> An Impact of $144 MM per year has been 
                                    generated from List Price Optimization 
                                    (LPO) by optimizing the price for 23K 
                                    SKU's</li>
                                <li>Developed Discount Guidance Tool to 
                                    facilitate Deal Management Team to offer a 
                                    range of discounts, for different 
                                    combination of drivers of discounts 
                                    obtained from Discount Driver Analysis</li>
                                <li>Achieved a Lift of 8x in top 2 percentile for 
                                    Partner Propensity to Sell and captured 
                                    not-transacting partner that attributed $ 
                                    7.68 MM per quarter on average</li>
                                <li>Built an in-house web crawler tool 
                                    (Prospector) for VMware which reduced 
                                    the quarterly spent made by VMware for 
                                    external data</li>
                            </ul>
                        </div>
                    </div>
                    <div class="company">
                        <div class="header">
                            <div class="left">Aranoah Technolohgies PVT LTD</div>
                            <div class="right">Setemper 2014 - October 2016</div>
                        </div>
                        <div class="achievements">
                            <ul>
                                <li>Optimized marketing retention strategy to 
                                    retain identified customers that can 
                                    possibly iterate in future by predicting 
                                    customer lifetime value (CLTV)</li>
                                <li>Performed Survey Analytics and multiregression models to understand drivers 
                                    of NPS (Net Promoter Score)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="hidden">
                Projects template comes here
            </section>
            <section id="skills" class="hidden">
                Skills template comes here
            </section>
            <section id="blogs" class="hidden">
                Blogs template comes here
            </section>
        </section>        
    </div>
</body>
<script>
</script>
<script src="static/assets/js/index.js"></script>
</html>